@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/glyphicons-halflings-regular.woff") format('woff'), url("/fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format('svg');
}

@font-face {
  font-family: 'Stamper';
  src: url("/fonts/a_StamperBrk.eot");
  src: url("/fonts/a_StamperBrk.eot?#iefix") format('embedded-opentype'), url("/fonts/a_StamperBrk.woff") format('woff'), url("/fonts/a_StamperBrk.ttf") format('truetype'), url("/fonts/a_StamperBrk.svg#glyphicons-halflingsregular") format('svg');
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
/* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #f8f8ee;
}
ul.ks-menu {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    position: absolute;
    top: 0px;
    margin-left: 230px;
}
ul.ks-menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
.ks-menu a {
    color: #fcd03d;
}
.ks-menu a:visited {
    color: #fcd03d;
}
.btn-plink {
    color: #000;
    background-color: #fcd03d;
    border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #000;
    background-color: #fcd03d;
    border-color: #d58512;
}
ul.ks-phones {
    list-style-type: none;
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    position: absolute;
    top: 30px;
    right: 280px;
}
ul.ks-menu li {
    display: inline-block; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
    color: #fcd03d;
}
.ks-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
/* Set the fixed height of the footer here */
  height: 60px;
  color: #999;
/*color: #fff;
    background-color: #2e5888;
    border-top 42px solid #6d8916;*/
}
.ks-page {
  padding-top: 50px;
}
.ks-page > .container {
  padding-left: 0;
  padding-right: 0;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
a {
  color: #007eb7;
}
a:visited {
  color: #619eda;
}
a:hover {
  color: #e41f32;
}
.ks-navbar {
  background-color: #444444;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  z-index: 1000;
  background-size: 100% 50px;
  background-repeat: no-repeat;
}
.ks-navbar.navbar-fixed-top {
  position: fixed;
  top: 0;
}
.ks-navbar .navbar-collapse {
  border: 0;
  position: relative;
}
.ks-navbar .glyphicon {
  font-size: 24px;
  width: 2em;
  text-align: center;
  line-height: 45px;
}
.ks-logo {
  margin: 0;
  padding: 0 15px;
  cursor: default;
  width: 120px;
  white-space: nowrap;
  position: relative;
  top: -113px;
  color: #444444;
  font-family: 'Stamper', sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: -2px;
  vertical-align: middle;
  line-height: 2.9ex;
}
.ks-logo span {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fcd03d;
  height: 2.9ex;
  text-indent: -3px;
  padding-right: 2px;
  margin-right: -2px;
  vertical-align: top;
}
.ks-logo a {
  color: #444444;
}
.ks-logo a:hover {
  text-decoration: none;
  color: #bd2b2b;
}
.navbar-default .navbar-brand {
  display: block;
  padding: 0;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
.ks-nav {
  text-transform: uppercase;
  font-weight: bold;
}
.ks-nav__elem a {
  display: inline-block !important;
  padding: 0 10px 0 11px !important;
  height: 50px;
  line-height: 50px !important;
  position: relative;
}
.ks-nav__elem:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 2em;
  left: 0;
  top: 50%;
  margin-top: -1em;
  background-color: rgba(255,255,255,0.5);
}
.ks-nav__elem:first-child a:before {
  display: none;
} 
@media (max-width: 767px) {
  .ks-navbar {
    position: relative !important;
    top: 0 !important;
  }
  .ks-navbar a {
    color: #fff;
  }
  .ks-navbar .navbar-right {
    margin-bottom: 0;
  }
  .ks-logo {
    top: -3px !important;
    color: #fff;
    display: inline-block;
    font-size: 24px;
  }
  .ks-logo span {
    color: #fcd03d !important;
  }
  .ks-logo a {
    color: #fff !important;
  }
  .ks-nav__elem a {
    height: 3em !important;
    line-height: 3em !important;
  }
  .ks-nav__elem a:before {
    display: none;
  }
  .ks-header-user {
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .ks-header-user__registration-link {
    display: inline !important;
    padding-right: 1ex;
    margin-right: 0 !important;
  }
  .ks-header-user__registration-link:hover {
    text-decoration: none;
  }
  .ks-header-user__authorization-link {
    font-weight: bold;
    background: transparent;
    border: 0;
    text-align: left;
    padding: 0;
    margin-top: 0 !important;
  }
  .ks-header-user__authorization-link:hover {
    background: transparent;
  }
  .ks-header-user__authorization-link:before {
    content: '/';
    padding-right: 1ex;
  }
  .ks-header-user__name {
    display: block !important;
  }
  .ks-header-user__cab {
    display: block !important;
  }
  .ks-header-cart {
    height: 50px;
    overflow: hidden;
  }
  .ks-header-cart .dropdown-menu {
    display: block !important;
    background: transparent;
    border: 0;
    box-shadow: none;
    bottom: auto;
    margin-top: 0px;
    top: 0;
    left: 0;
    line-height: 17px;
  }
  .ks-header-cart .dropdown-menu > a {
    display: block;
    padding-top: 2px;
    padding-left: 60px;
  }
  .ks-header-cart .dropdown-menu > a:hover {
    text-decoration: none;
  }
  .ks-header-cart__counter {
    display: none;
  }
  .ks-header-cart__empty {
    color: #fff;
    margin-left: 60px;
  }
  .ks-page {
    padding-top: 0;
  }
}
.ks-header-user,
.ks-header-cart {
  display: block;
}
.ks-header-user__registration-link {
  margin-right: 1em;
}
.ks-header-user__authorization-link {
  color: #fff;
}
.ks-header-user__authorization-link:visited {
  color: #fff;
}
.ks-header-cart__counter {
  font-size: 20px;
  margin-left: -12px;
  padding-right: 10px;
}
.ks-header-cart__empty {
  line-height: 35px;
}
@media (min-width: 768px) {
  .ks-header-user,
  .ks-header-cart {
    float: left;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  .ks-header-user li,
  .ks-header-cart li {
    float: left;
  }
  .ks-header-user li > a,
  .ks-header-cart li > a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .ks-header-user {
    position: absolute;
    top: -80px;
    right: 180px;
    padding-right: 20px;
    border-right: 1px solid #000;
  }
  .ks-header-user .dropdown-toggle:hover,
  .ks-header-user .dropdown-toggle:focus {
    text-decoration: none;
  }
  .ks-header-user .glyphicon {
    display: none;
  }
  .ks-header-user__name {
    display: block;
    color: #555;
  }
  .ks-header-user__cab {
    display: block;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
  .ks-header-cart .dropdown-menu {
    display: block;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    top: -77px;
  }
  .ks-header-cart .dropdown-toggle {
    display: none;
  }
}
.navbar-fixed-top .ks-header-user {
  top: auto;
  right: auto;
  position: relative;
  border: 0;
  padding-right: 0;
}
.navbar-fixed-top .ks-header-user .glyphicon {
  display: block;
  color: #fff;
}
.navbar-fixed-top .ks-header-user .dropdown-toggle:focus .glyphicon {
  color: #e41f32;
}
.navbar-fixed-top .ks-header-user__name,
.navbar-fixed-top .ks-header-user__cab {
  display: none;
}
.navbar-fixed-top .ks-header-cart .dropdown-toggle {
  color: #fff;
  display: block;
  height: 50px;
}
.navbar-fixed-top .ks-header-cart .dropdown-toggle:hover {
  text-decoration: none;
}
.navbar-fixed-top .ks-header-cart .dropdown-toggle:focus {
  color: #fcd03d;
  background: #444;
  text-decoration: none;
}
.navbar-fixed-top .ks-header-cart .dropdown-menu {
  display: none;
}
.navbar-fixed-top .ks-header-cart .open .dropdown-menu {
  top: auto;
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(1,2,4,0.18);
  -moz-box-shadow: 0 1px 4px rgba(1,2,4,0.18);
  box-shadow: 0 1px 4px rgba(1,2,4,0.18);
}
.navbar-fixed-top .ks-logo {
  top: -7px;
  color: #fff;
  z-index: 2;
  font-size: 32px;
}
.navbar-fixed-top .ks-logo span {
  color: #fcd03d;
}
.navbar-fixed-top .ks-logo a {
  color: #fff;
}
.navbar-fixed-top .dropdown-toggle {
  color: #fff;
}
.navbar-fixed-top .ks-header-user__registration-link {
  display: none;
}
.navbar-fixed-top .ks-header-user__authorization-link {
  margin-top: 7px;
  color: #fff;
}
.navbar-fixed-top .ks-header-user .dropdown-toggle {
  height: 50px;
}
.ks-block-content {
  overflow: hidden;
  background: #fff;
  margin: 0 0 20px;
}
.ks-block-shadow {
  -webkit-box-shadow: 0 1px 4px rgba(1,2,4,0.18);
  -moz-box-shadow: 0 1px 4px rgba(1,2,4,0.18);
  box-shadow: 0 1px 4px rgba(1,2,4,0.18);
}
.ks-bread-crumbs {
  background: #fff;
  line-height: 50px;
  margin-bottom: 20px;
}
.ks-bread-crumbs .breadcrumb {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: transparent;
}
.ks-bread-crumbs .breadcrumb li {
  display: inline-block;
}
.ks-bread-crumbs .breadcrumb li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">\00a0";
}
.ks-bread-crumbs .breadcrumb li:first-child:before {
  content: '';
  display: none;
}
.ks-bread-crumbs .breadcrumb .active {
  color: #999;
}
.ks-position {
  overflow: hidden;
}
.ks-position__link {
  display: inline-block;
  text-align: center;
}
.ks-position__details {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.ks-position__image {
  max-width: 100%;
}
.ks-position__name {
  font-size: 18px;
  line-height: 25px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ks-position__name,
.ks-position__price {
  padding: 0 15px;
}
.ks-position__price {
  display: block;
  color: #000;
}
.ks-position__link:hover {
  text-decoration: none;
}
.ks-position__link:hover .ks-position__name {
  text-decoration: underline;
}
.ks-position .btn-primary {
  float: right;
  border-radius: 0;
}
.ks-position .btn-primary:hover {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.ks-position .btn-success {
  float: right;
  border-radius: 0;
}
.ks-position .btn-success:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ks-filter__block {
  padding: 0 15px 20px;
}
.ks-filter__price-input {
  width: 90px;
  display: inline;
}
.gallery__preview-list {
  list-style: none;
  float: left;
  padding: 0 20px 0 0;
}
.gallery__preview-elem {
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin-bottom: 10px;
  max-width: 60px;
}
.gallery__preview-elem img {
  width: 100%;
}
.gallery__preview-elem.active {
  box-shadow: 0 0 1px 1px rgba(0,180,255,0.5);
}
.gallery__image-container {
  text-align: center;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gallery__image-container img {
  max-width: 100%;
}
.blue-gradient {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDQwNjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background-image: -moz-linear-gradient(top, #1e5799 0%, #104066 100%);
/* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #104066));
/* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #1e5799 0%, #104066 100%);
/* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #1e5799 0%, #104066 100%);
/* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #1e5799 0%, #104066 100%);
/* IE10+ */
  background-image: linear-gradient(to bottom, #1e5799 0%, #104066 100%);
/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#104066',GradientType=0 );
/* IE6-8 */
}
.ks-block-header {
  background: #000;
  color: #fcd03d;
  font-family: 'Stamper';
  font-size: 28px;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 25px; 
}