# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]